.DS_Store
/node_modules
/dist
/doxy/build-book

# local env files
.env
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*

# Local build files
/docs/.vuepress/dist/
/.project
/doxy/build/*

# CMake Ignore
CMakeCache.txt
/doxy/my_src/CMakeFiles
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
doxy/build/my_src/CMakeFiles/*
doxy/*.cmake
